
.App {
  /* margin-top:5%; */
  padding: 5%;
  color: rgb(0, 0, 0);
  background-color: rgba(247, 247, 247, 0.815); 
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.App:nth-child(odd) {
  /* margin-top:5%; */
   background-color: rgba(2, 2, 2, 0.815); 
   color: rgb(166, 175, 182);
  }
a{
  text-decoration: none;
}
.logo {
  height: 32vmin;
  pointer-events: none;
}

@media (max-width: 769px){
  .logo {
    height: 32vmin;
  pointer-events: none;
    display: none;
  }
}
.ss{
  display: grid;
  
 grid-template-columns: 2fr 1fr;
}

li{
  list-style: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.spinner {
  background: white; 
  padding: 2rem;
  margin: 0;
}
#spinner1 {

  position: absolute;
  background: transparent;
}

.div-footer{
  background-color:transparent;
  position:sticky;
  left: 0;
  bottom: 0;
  width: 100%; 
  /* padding: 15px; */
  height: 60px;
}
.footer{
  background-color: rgb(19, 19, 19);
  color: cornsilk; 
  text-align: center;
  padding: 10px;
  position: fixed;;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.typed-cursor{
  opacity: 0;
  color: transparent;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}

.typehead{
  text-align: center;
  color: rgb(238, 237, 237);
}

.social-size{
  font-size: 3rem;
  transition: transform .3s;
  color: black;
  
}

.social-size:hover{
  -ms-transform: scale(5); /* IE 9 */
  -webkit-transform: scale(5); /* Safari 3-8 */
  transform: scale(1.3); 

}
.social-div{
  text-align: center;
}
.social-div >a {
  
  /* display: inline-block; */
  margin-right: 30px;
    /* width: 25%; */
    
}

@media screen and (min-width: 500px) {
  .social-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .social-text {
    font-size: 0.93rem;
  }
}
@media screen and (max-width: 500px) {
  .social-size >a {
    display: inline-block;
    width: 25%;
  }
  /* .social-text {
    font-size: 1rem;
  } */
}
@media screen and (max-width: 400px) {
  .social-size{
    font-size: 2rem;
    transition: transform .5s;
    color: black;
    
  }
}

